html{
  scroll-behavior: smooth;
}
body{
  background-color:rgb(234, 255, 254);
  margin: 0;
}
main{
  padding: 10px;
}
#header{
  background-color: lightgreen;
  margin: 0;
  height: 68px;
}
#logo-container{
  height: 60px;
  padding: 0;
}
#header-img{
  height: 100%;
}
#nav-bar ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; 
  width: 100%;
}
#nav-bar li{
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  color: white;
}
.nav-link{
  text-decoration: none;
  display: block;
  margin-right: 15px;
  color: white;
  font-size: 20px;
  padding-left: 15px;
}

.nav-link:hover{
  color: red;
}
.main-containers{
  padding-top:100px; 
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 50vh;
  margin-top: 3cm;
  margin-bottom: 3cm;
}
h1{
  font-size:3em;
}
p{
  max-width:600px;
  font-size:1.2em;
}
#podcast-container{
  width: 560px;
  height: 315px;
  max-width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
#podcast-logo{
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}
#podcast-audio{
  justify-content: center;
  align-self: center;
}

@media (max-width: 575px) {
  #podcast-logo {
    width:auto;
    height: 200;
    max-height: 50vh;
  }
  #nav-bar li{
    border-width: 0px 0px 0px 0px;
    color: white;
    text-align: center;
  }
  #header{
    height: auto;
  }
  .main-containers{
    height: auto;
  }
}
